.artworks {
  padding-top: 86px;
  &__title {
    margin-top: 54px;
    @include title-underline;
    margin-bottom: 24px;
  }
  &__actions {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__btn-filter {
    padding: 10px;
    display: flex;
    border: 1px solid $gray;
    background-color: $white;
    font-size: 16px;
    color: $gray;
    cursor: pointer;
    &::before {
      content: url("../../src/assets/SVG/FiltrosIcon.svg");
      margin-right: 8px;
    }
  }

  &__search {
    max-width: 320px;
    width: 100%;
    input {
      width: 100%;
      background-color: rgba($gray, 15%);
      font-size: 16px;
      padding: 10px;
      border: none;
      &:focus {
        outline-color: $black;
        border-radius: 0;
      }
    }
  }

  &__wrapper {
    column-count: 2;
    column-gap: 16px;
    position: relative;
    &.loading {
      pointer-events: none;
      &::after {
        position: absolute;
        content: "";
        display: block;
        background-color: $primary-color;
        border-radius: 50px;
        width: 100px;
        height: 100px;
        top: 54px;
        left: 50%;
        z-index: 50;
        transform: translateX(-50%);
        animation: loading 0.8s linear infinite;
      }
      .artwork{
        opacity: 0.3;
      }
    }
  }

  .pagination {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 0 54px;
    button {
      @include btn--outline($gray, $white);
      &:disabled{
        opacity: 0.25;
        pointer-events: none;
      }
    }
  }

  .artwork {
    break-inside: avoid;
    cursor: pointer;
    padding-bottom: 16px;
    &__img {
      width: 100%;
    }
    &__title {
      font-size: 16px;
      color: $black;
      margin: 8px 0;
    }
    &__artist {
      font-size: 12px;
      color: $gray;
    }
  }
}
@keyframes loading {
  0%{
    transform: translateX(-50%) scale(0);
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: translateX(-50%) scale(1);
    opacity: 0;
  }
}

@media screen and (min-width: 768px) {
  .artworks__wrapper {
    column-count: 3;
  }
}

@media screen and (min-width: 1280px) {
  .artworks__wrapper {
    column-count: 4;
  }
}
