*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li {
  font-family: "Josefin Sans", sans-serif;
  color: #000000;
  font-weight: 400;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  padding: 0 16px;
  height: 100%;
}

input, button, textarea, table {
  font-family: "Josefin Sans", sans-serif;
}

.header {
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  padding: 16px 0;
  border-bottom: 1px solid #B50938;
  z-index: 99;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo--white {
  display: none;
}
.header__logo--color {
  display: block;
}
.header__menu-toggle {
  padding: 12px 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.header__menu-toggle div {
  width: 32px;
  height: 1px;
  background-color: #B50938;
  margin-bottom: 10px;
}
.header__menu-toggle div:nth-child(3) {
  margin: 0;
}
.header__menu.opened {
  display: block;
  left: 0;
}
.header__menu.opened ul li a {
  color: #000000;
}
.header__menu {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 100%;
  transition: left 0.5s ease-in-out;
  z-index: 100;
}
.header__menu ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.header__menu ul a {
  display: inline-block;
  padding: 8px;
  font-size: 20px;
  border-bottom: 1px solid transparent;
  transition: border 0.3s ease-in-out;
}
.header__menu ul a:hover {
  border-bottom: 1px solid #B50938;
}
.header__menu .header__menu-toggle {
  position: absolute;
  top: 20px;
  right: 32px;
}
.header__menu .header__menu-toggle--close div:nth-child(1) {
  transform-origin: left;
  transform: rotate(45deg);
  background-color: #B50938;
}
.header__menu .header__menu-toggle--close div:nth-child(2) {
  transform: scale(0);
}
.header__menu .header__menu-toggle--close div:nth-child(3) {
  transform-origin: left;
  transform: rotate(-45deg);
  background-color: #B50938;
}

.header--white {
  background-color: transparent;
  border-bottom: 1px solid #ffffff;
}
.header--white .header__logo--white {
  display: block;
}
.header--white .header__logo--color {
  display: none;
}
.header--white .header__menu ul a {
  color: white;
}
.header--white .header__menu-toggle div {
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .header__menu-toggle {
    display: none;
  }
  .header__menu {
    display: block;
    width: auto;
    height: auto;
    background-color: transparent;
    position: static;
  }
  .header__menu ul {
    flex-direction: row;
  }
  .header__menu ul a {
    font-size: 16px;
  }
  .header__menu .header__menu-toggle {
    position: absolute;
    top: 20px;
    right: 32px;
  }
  .header__menu .header__menu-toggle--close div:nth-child(1) {
    transform-origin: left;
    transform: rotate(45deg);
  }
  .header__menu .header__menu-toggle--close div:nth-child(2) {
    transform: scale(0);
  }
  .header__menu .header__menu-toggle--close div:nth-child(3) {
    transform-origin: left;
    transform: rotate(-45deg);
  }
}
.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  padding: 16px;
}
.modal.opened {
  display: block;
}
.modal__content {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 850px;
  padding: 0 16px 54px;
  margin-top: 54px;
  background-color: #ffffff;
  height: auto;
}
.modal__btn-close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 32px;
  right: 32px;
  background: url(" ../../../../../src/assets/SVG/closeIcon.svg") center/contain no-repeat;
  border: none;
  filter: grayscale(100%);
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.modal__btn-close:hover {
  filter: none;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .modal__content {
    padding: 0 32px 54px;
  }
}
.home {
  height: 100vh;
  padding-top: 87px;
  background: url("./../../src/assets/JPG/HomeBackgroundMobile.jpg") center/cover no-repeat;
}
.home .container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home__logo {
  width: 150px;
  margin-bottom: 32px;
}
.home__text {
  text-align: center;
}
.home__text p {
  color: #ffffff;
  margin-bottom: 24px;
  line-height: 1.2;
}
.home__img {
  display: none;
}
.home__btn {
  display: inline-block;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  padding: 12px 24px 8px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  word-break: keep-all;
  cursor: pointer;
  background-color: #B50938;
  color: #ffffff;
  border: 1px solid transparent;
}
.home__btn:hover {
  background-color: transparent;
  border: 1px solid #B50938;
  color: #B50938;
}
.home .author {
  font-size: 14px;
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .home {
    background: url("./../../src/assets/JPG/HomeBackgroundDesktop.jpg") center/cover no-repeat;
  }
  .home__text {
    flex: 1;
    text-align: left;
  }
  .home__text p {
    font-size: 20px;
  }
  .home__img {
    display: block;
    flex: 2;
  }
  .home__img img {
    width: 100%;
  }
}
.artworks {
  padding-top: 86px;
}
.artworks__title {
  margin-top: 54px;
  font-size: 32px;
  padding: 8px 16px 8px 0;
  border-bottom: 1px solid #B50938;
  display: inline-block;
  margin-bottom: 24px;
}
.artworks__actions {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  margin-bottom: 24px;
}
.artworks__btn-filter {
  padding: 10px;
  display: flex;
  border: 1px solid #808080;
  background-color: #ffffff;
  font-size: 16px;
  color: #808080;
  cursor: pointer;
}
.artworks__btn-filter::before {
  content: url("../../src/assets/SVG/FiltrosIcon.svg");
  margin-right: 8px;
}
.artworks__search {
  max-width: 320px;
  width: 100%;
}
.artworks__search input {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.15);
  font-size: 16px;
  padding: 10px;
  border: none;
}
.artworks__search input:focus {
  outline-color: #000000;
  border-radius: 0;
}
.artworks__wrapper {
  column-count: 2;
  column-gap: 16px;
  position: relative;
}
.artworks__wrapper.loading {
  pointer-events: none;
}
.artworks__wrapper.loading::after {
  position: absolute;
  content: "";
  display: block;
  background-color: #B50938;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  top: 54px;
  left: 50%;
  z-index: 50;
  transform: translateX(-50%);
  animation: loading 0.8s linear infinite;
}
.artworks__wrapper.loading .artwork {
  opacity: 0.3;
}
.artworks .pagination {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px 0 54px;
}
.artworks .pagination button {
  display: inline-block;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  padding: 12px 24px 8px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  word-break: keep-all;
  cursor: pointer;
  background-color: transparent;
  color: #808080;
  border: 1px solid #808080;
}
.artworks .pagination button:hover {
  background-color: #808080;
  border: 1px solid #808080;
  color: #ffffff;
}
.artworks .pagination button:disabled {
  opacity: 0.25;
  pointer-events: none;
}
.artworks .artwork {
  break-inside: avoid;
  cursor: pointer;
  padding-bottom: 16px;
}
.artworks .artwork__img {
  width: 100%;
}
.artworks .artwork__title {
  font-size: 16px;
  color: #000000;
  margin: 8px 0;
}
.artworks .artwork__artist {
  font-size: 12px;
  color: #808080;
}

@keyframes loading {
  0% {
    transform: translateX(-50%) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) scale(1);
    opacity: 0;
  }
}
@media screen and (min-width: 768px) {
  .artworks__wrapper {
    column-count: 3;
  }
}
@media screen and (min-width: 1280px) {
  .artworks__wrapper {
    column-count: 4;
  }
}
.artwork-preview__img {
  padding-top: 86px;
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.artwork-preview__img::before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 600px;
  background-color: black;
  top: 0;
  opacity: 0.9;
}
.artwork-preview__img img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.artwork-preview__title {
  font-size: 32px;
  padding: 8px 16px 8px 0;
  border-bottom: 1px solid #B50938;
  display: inline-block;
  margin-top: 54px;
  margin-bottom: 32px;
}
.artwork-preview__description {
  font-size: 16px;
  line-height: 1.4;
  color: #808080;
  margin-bottom: 32px;
}
.artwork-preview__data-table {
  border-collapse: collapse;
}
.artwork-preview__data-table td {
  padding: 12px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.25);
}

.form-comments__title {
  font-size: 32px;
  padding: 8px 16px 8px 0;
  border-bottom: 1px solid #B50938;
  display: inline-block;
  margin-top: 54px;
  margin-bottom: 32px;
}
.form-comments__input-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 16px;
}
.form-comments input,
.form-comments textarea {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border: 1px solid #808080;
  resize: none;
}
.form-comments input.error,
.form-comments textarea.error {
  border: 1px solid #B50938;
}
.form-comments__info {
  font-size: 14px;
  color: #808080;
  margin: 16px 0;
}
.form-comments__info a {
  color: #B50938;
}
.form-comments__btn {
  margin-top: 16px;
  display: inline-block;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  padding: 12px 24px 8px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  word-break: keep-all;
  cursor: pointer;
  background-color: #B50938;
  color: #ffffff;
  border: 1px solid transparent;
}
.form-comments__btn:hover {
  background-color: transparent;
  border: 1px solid #B50938;
  color: #B50938;
}
.form-comments__btn:disabled {
  background-color: #808080;
}
.form-comments .field-error {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  color: #B50938;
}
.form-comments .field-error::before {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  background: url(" ../../../../../src/assets/SVG/errorIcon.svg") center/contain no-repeat;
}
.form-comments .success-message {
  padding: 16px;
  margin-top: 16px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(128, 128, 128, 0.25);
  text-align: center;
  border-radius: 8px;
}

.comments {
  margin-bottom: 54px;
}
.comments__title {
  font-size: 32px;
  padding: 8px 16px 8px 0;
  border-bottom: 1px solid #B50938;
  display: inline-block;
  margin-top: 54px;
  margin-bottom: 32px;
}
.comments__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.comments .comment {
  position: relative;
  padding: 32px;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0 0 16px rgba(128, 128, 128, 0.25);
}
.comments .comment__icon {
  color: #B50938;
  font-size: 80px;
}
.comments .comment__text {
  font-size: 18px;
  margin-top: -40px;
  margin-bottom: 16px;
}
.comments .comment__name, .comments .comment__date {
  font-size: 14px;
  display: block;
  color: #808080;
}
.comments .comment__btn-delete, .comments .comment__btn-edit {
  position: absolute;
  width: 24px;
  height: 24px;
  border: none;
  filter: grayscale(100%);
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.comments .comment__btn-delete:hover, .comments .comment__btn-edit:hover {
  filter: none;
  opacity: 1;
}
.comments .comment__btn-delete {
  bottom: 32px;
  right: 32px;
  background: url("../../src/assets/SVG/deleteIcon.svg") center/contain no-repeat;
}
.comments .comment__btn-edit {
  right: 32px;
  top: 32px;
  background: url("../../src/assets/SVG/editIcon.svg") center/contain no-repeat;
}

@media screen and (min-width: 768px) {
  .artwork-preview__wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
