*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $white;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li {
  font-family: $fuente-josefin;
  color: $black;
  font-weight: 400;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}